.picker {
  grid-column: 5/10;
  grid-row: 2/3;
  padding-bottom: 50px;
  justify-self: center;
  
  input {
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #e3b924;
    
    color: $color-grey-one;
    font-size: 80px;
    font-family: 'Roboto Condensed';
    font-weight: 700;

    
    &:focus {
      outline: none;
    }
  }
}